backend:
  name: git-gateway
  branch: main

media_folder: "static/media"
public_folder: "/media"

local_backend: true

collections:
  - name: "pages"
    label: "Pages"
    files:
      - file: "content/about/_index.md"
        label: "About"
        name: "about"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Body",  name: "body",  widget: "markdown" }

  - name: "news"
    label: "News"
    folder: "content/news"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Thumbnail", name: "thumbnail", widget: "image", required: false }
